<div class="card">
  <img class="card-img-top" src="<%= asset_path('image_7.jpg') %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kitchen name</h5>
    <p class="card-text">Kitchen Addres</p>
    <p class="card-text">$1000</p>
  </div>
</div>
