<div class="card">
  <img class="card-img-top" src="<%= asset_path('image_7.jpg') %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Kitchen name</h5>
    <p class="card-text">Kitchen Addres</p>
    <p class="card-text">$1000</p>
       <%= link_to 'edit', edit_kitchen_path(kitchen) %>
       <%= link_to 'destroy', kitchen_path(kitchen), method: :delete %>

  </div>
</div>
