<div class="card">
  <div class="card-body">
    <h5 class="card-title">Appointment <%= appointment.id %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Date: <%= appointment.date %></h6>
    <p class="card-text">User: <%= appointment.user.name %></p>
    <p class="card-text">Your kitchen: <%= appointment.kitchen.name %></p>
  </div>
</div>

