// Define variables for your color scheme

// For example:
$black: #000000;
$blue: #1D3756;
$lightblue: #A5C8ED;
$gray: #6F7D7F;
$light-gray: #F9FBFC;
$btn-color: $blue;

$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
