<div class="card-deck mt-5 rounded">
  <div class="card">
    <img class="card-img-top" src="<%= asset_path('image_7.jpg') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Kitchen Name</h5>
      <p class="card-text">Kitchen Addres</p>
      <p class="card-text">$1000</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="<%= asset_path('image_2.jpg') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Kitchen Name</h5>
      <p class="card-text">Kitchen Address</p>
      <p class="card-text">$1000</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="<%= asset_path('image_1.jpg') %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Kitchen Name</h5>
      <p class="card-text">Kitchen Address</p>
      <p class="card-text">$1000</p>

    </div>
  </div>
</div>
