  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h1>Dashboard</h1>
  </div>
<div class="container-fluid">
  <h3 class="title-dashboard">My kitchens</h3>
  <div class="cards">
      <% @kitchens.each do |kitchen| %>
         <%= render 'components/dashboard-card', kitchen: kitchen %>
      <% end %>
    </div>

  <h3 class="title-dashboard">My appointments</h3>
  <div class="cards">
    <% @appointments.each do |appointment| %>
        <%= render 'components/appointment-card', appointment: appointment %>
      <% end %>
  </div>

  <h3 class="title-dashboard">My Kitchen Appointments:</h3>
  <div class="cards">
    <% @kitchens.each do |kitchen| %>
      <% kitchen.appointments.each do |appointment| %>
        <%= render 'components/kitchen-appointments', appointment: appointment %>
      <% end %>
    <% end %>
  </div>
</div>
