// Specific CSS for your home-page
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin: 10px;
  a {
    text-decoration: none;
  }
  .card-body {
    color: $black;
  }
}

.card-kitchen{
  position: relative;
  background-color: white;
  border-radius: 4px;
  &:hover{
  box-shadow: 1px 1px 5px lightgrey;
  }
  a{
    text-decoration: none;
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.btn-box {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-box-show {
  position: absolute;
  top: 460px;
  right: 130px;
  .btn-card {
    margin-right: 10px;
  }
}

.btn-card {
  background-color: $btn-color;
  padding: 5px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.8;
  &:hover{
    color: white;
    opacity: 1;
  }
}

.btn-card-trash {
  background-color: $red;
  padding: 5px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.8;
  &:hover{
    color: white;
    opacity: 1;
  }
}
#map {
  position: sticky !important;
  height: 100vh;
  top: 0;
}
