// Specific CSS for your home-page
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  a {
    text-decoration: none;
  }
  .card-body {
    color: $black;
  }
}

.card-kitchen{
  height: 340px;
  position: relative;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px lightgrey;
  margin-top: 20px;
  &:hover{
  box-shadow: 1px 1px 5px grey;
  }
  a{
    text-decoration: none;
  }
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.card-description {
  font-size: 14px;
  color: rgba(0,0,0,0.8);
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-address {
  font-size: 14px;
  margin-bottom: 0;
  i {
    color: $blue;
    padding-right: 5px;
  }
}

.card-price {
  font-size: 14px;
  margin-bottom: 0;
  color: $blue;
  font-weight: bold;
}

.btn-box {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-box-show {
  margin-top: 30px;
  margin-left: 10px;
  .btn-card {
    margin-right: 10px;
  }
}

.btn-card {
  background-color: $btn-color;
  padding: 5px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.8;
  &:hover{
    color: white;
    opacity: 1;
  }
}

.btn-card-trash {
  background-color: $red;
  padding: 5px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.8;
  &:hover{
    color: white;
    opacity: 1;
  }
}
#map {
  position: sticky !important;
  height: 100vh;
  top: 0;
}

.star-rating {
  position: absolute;
  top: 184px;
  font-size: 14px;
  right: 10px;
  background-color: white;
  padding: 5px 10px;
  color: #1d3756;
  border-radius: 20px;
  border: 1px solid #1e375687;
}
