.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.btn-light {
  background-color: $light-gray;
}

.dropdown .avatar:hover {
  cursor: pointer;
}
