<div class="wraper">
  <div class="form-new">
    <div class="title">
      <h1>Edit Appointment</h1>

      <%= simple_form_for [@kitchen, @appointment] do |f| %>
        <%= f.input :date, as: :string, input_html: { class: "datepicker"} %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>



















