<div class="container d-flex justify-content-center mt-5r">
<div class="col-md-6 ">


<%= render 'components/card-appointment' %>


<% if Date.today.to_time.to_i > @appointment.date.to_time.to_i %>
  <h3>Wirite a Review</h3>
  <%= simple_form_for [@appointment, @review] do |f| %>
    <%= f.input :content %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
<% end %>
</div>
</div>
</div>
