<div class="kitchen-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://cdn.vox-cdn.com/thumbor/z5BZeH8NYrhu7ooviC149TlfHaI=/0x428:3109x2812/1200x800/filters:focal(1057x1406:1581x1930)/cdn.vox-cdn.com/uploads/chorus_image/image/54756169/restaurant_kitchen_shutterstock.0.jpg')">
 Your appointment!
</div>

<div class="container d-flex justify-content-center">
  <div class="col-md-6 ">


    <%= render 'components/card-appointment' %>


    <% if Date.today.to_time.to_i > @appointment.date.to_time.to_i %>
    <h3>Wirite a Review</h3>
    <%= simple_form_for [@appointment, @review] do |f| %>
    <%= f.input :content %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
    <% end %>
  </div>
</div>

